<nav class= "navbar navbar-expand-md navbar-dark bg-dark">
            <div class = "container-fluid">
             <a class = "navbar-brand" href={{ url('home') }}>RecetteVie</a>
            <ul class = "navbar-nav me-auto">
            <li class='nav-item'>
            <a class = "nav-link {{ app.current_route == 'home' ? 'active' : '' }}" href={{ path('home') }}>Acceuil</a>
            </li>
            <li class = 'nav-item'>
            <a class = "nav-link {{ app.current_route starts with 'app_recipe_' ? 'active' : '' }}" href={{ path('app_recipe_index') }}>Liste Recette</a>
            </li>
            </ul> 
            </div>
        </nav>