{% extends 'base.html.twig' %}

{# {% block title %}Liste des recette{% endblock %} #}
{% block title %}{{slug}}{% endblock %}


{% block body %}

<h3>Bienvenue sur la recette numéro {{id}}</h3>

<h4>Comment faire 1 {{ slug |title }}</h4>
<p>Recette créée par {{ user.firstname }} {{ user.lastname }}</p>
{# <p>Recette créée par {{ user.firstname ~" "~ user.lastname }}</p>  Comment concaténer #} 


{% endblock %}







